#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9ecec;
  min-height: 100vh;
}

.App {
  background-color: #ecf2f9;
  width: 25rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 5px #c8d9eb;
}

.App-header {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-weight: 600;
  font-style: normal;
  color: #607d9c;
}

.MoodTracker {
  background-color: #c8d9eb;
  width: 23rem;
  height: 23rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 2px dotted #a0acaf;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.MoodSlider {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.slider {
  margin-top: 25px;
  width: 100%;
  height: 5px;
  background: #4a86a9;
  border-radius: 5px;
  outline: none;
  opacity: 0.5;
  transition: opacity 0.1s;
}

p {
  text-align: center;
}

.emoji {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

.moodInput {
  width: 200px;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #96ccd2;
  border-radius: 5px;
  text-align: center;
  vertical-align: top;
}

.moodInput:focus {
  box-shadow: none;
  outline: rgba(253, 208, 205, 255);
}

.btn {
  text-align: center;
  align-self: center;
  margin: 20px;
  border: none;
  display: flex;
  justify-content: center;
}

.btn1:hover {
  background-color: #f0d9da;
  color: white;
  border: none;
}

.btn2:hover {
  color: white;
  background-color: #f0d9da;
  border: none;
}
